<%- include('../partials/admin/header') %>

<main class="main-content" id="mainContent">
        <h1 class="h3 mb-4">Dashboard</h1>
        <!-- Add your dashboard content here -->
    </main>

<%- include('../partials/admin/footer') %>
