/* Preloader styles */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:200,300,400,500,600,700|Roboto:100,300,400,500,700&display=swap");
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.dots {
  display: inline-block;
}

@keyframes dots {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
  100% {
    content: ".";
  }
}

.dots::after {
  content: ".";
  animation: dots 1.5s steps(3, end) infinite;
}

/* Content styles */
.content {
  display: none;

 
}
